* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  scroll-behavior: smooth;

}

html {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

/*Title Page CSS*/
.titleicon {
  margin-top: 200px;
}
.titlepage {
  background-image: url(../media/images/indexbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 80px;
  text-align: center;
}

.titleh2 {
  font-size: 68px;
  margin-bottom: 200px;
}


.chevrontext,input {
    display: none;
    font-size: 40px;
}

input:checked ~ .chevrontext {
    display: block;
}

/*About Page*/
.aboutpage {
  background-image: url(../media/images/aboutbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutdiv1 {
  font-size: 100px;
  text-align: center;
  display: inline-flex;
  flex: 50%;
  width: 50%;
  float: left;
  color: rgb(243, 255, 131);
}

.aboutdiv2 {
  text-align: left;
  font-size: 36px;
  color: white;
  display: inline-flex;
  flex: 50%;
  width: 50%;
  margin-bottom: 200px;
  margin-top: 100px;
}

.infobutton {
  display: inline-block;
  background-color: black;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin-top: 50px;
transition-duration: 0.4s;
  cursor: pointer;
}

a:link {
  color: rgb(61, 61, 255);
}
a:hover {
  color: lightblue;
}

/*Booking Page*/

.bookingpage {
  background-image: url(../media/images/bookingbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 48px;
  color: black;
  text-align: center;
  overflow: hidden; 
  position: static;
}


.tour1 {
  background-image: url(../media/images/icetour.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 500px;
  height: 600px;
  text-align: left;
  font-size: 32px;
  color: white;
  position: static;
  margin: 10px;
}

.tour2 {
  background-image: url(../media/images/bluelagoon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 500px;
  height: 600px;
  text-align: left;
  font-size: 32px;
  color: white;
  position: static;
  margin: 10px;
}

.tour3 {
  background-image: url(../media/images/waterfalltour.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 500px;
  height: 600px;
  text-align: left;
  font-size: 32px;
  color: white;
  position: static;
  margin: 10px;
}

.bookingh2 {
  margin-top: 300px;
  height: 75px;
  display: inline-block;
  width: 500px;
  margin-bottom: 0px;
}

.downarrow2-1 {
    height: 50px;
    padding-top: 500px;
    padding-right: 400px;
}


#info1,input {
    display: none;
    font-size: 20px;
    width: 400px;
}

input:checked ~ #info1 {
    display:grid;

}

.downarrow2-2 {
    display: block;
    height: 50px;
    padding-top: 500px;
    padding-right: 400px;
}

#info2,input {
    display: none;
    font-size: 20px;
    width: 400px;
}

input:checked ~ #info2 {
    display: grid;
}

.downarrow2-3 {
    display: block;
    height: 50px;
    padding-top: 500px;
    padding-right: 400px;
}

#info3,input {
    display: none;
    font-size: 20px;
    width: 400px;
}

input:checked ~ #info3 {
    display: grid;
}

.infobutton2 {
  display: inline-block;
  background-color: black;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin: 50px;
  transition-duration: 0.4s;
  cursor: pointer;
}

/*FAQ Page*/

.faqpage {
  background-image: url(../media/images/faqbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.faqtitle {
  font-size: 120px;
  text-align: left;
  width: 50%;
  color: rgb(81, 105, 241);
  display: inline-flex;
  flex: 50%;
  width: 50%;
  float: left;
}

.faq {
  display: inline-block;
  width: 50%;
  font-size: 30px;
  color: azure;
  margin-bottom: 100px;
  margin-top: 100px;
}

/*Stats Page*/

.statspage {
  background-image: url(../media/images/statsbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  color: white;
}

.allstats {
  text-align: center;
}

.stats {
  background-color: black;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 125px;
  position: relative;
}

.statsh3 {
  font-size: 48px;
  color: rgb(243, 255, 131);
}

/*Review Page*/

.reviewpage {
  background-image: url(../media/images/reviewbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
  color: white;
  text-align: center;
  font-size: 50px;
  
}

.reviewcontent {
    align-content: center;
}

.pfp {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 50px;
    margin-top: 100px;
  }
  
.reviewp {
    display: inline;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    margin-bottom: 50px;
    
  
 /* margin-left: 650px; */
}


/*Photo Gallery*/

.photogallery {
  background-color: black;
  position: relative;
  display: inline-flex;
  flex: 25%;
  text-align: center;
  height: 600px;
  overflow: hidden; /* Hide any overflow to avoid the awkward empty space */
}
  
.mySlides {
    align-content: center;
}

.leftarrow{
    position: absolute;
    left: 0%;
    margin-top: 300px;
    margin-left: 20px;
    font-size: 40px;
    color: white;
}

.rightarrow{
    position: absolute;
    right: 0%;
    margin-right: 20px;
    margin-top: 300px;
    font-size: 40px;
    color: white;
}


.slides {
    display: inline-flex;
}

.mySlides {
    width: 25%;
}

/*Contact Page*/

.contactpage {
  background-image: url(../media/images/contactbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.contact1 {
  font-size: 28px;
  flex: 50%;
  margin-left: 100px;
}

.contacth1 {
  color: rgb(243, 255, 131);
  font-size: 60px;
}

a.contact {
    color: darkolivegreen;
}

a.contact:hover {
    color: white;
}

.contact2 {
  height: 600px;
  font-size: 28px;
  flex: 50%;
}

.contactform {
  font-size: 28px;
  overflow: scroll;
}

textarea {
    resize: none;
    width: 600px;
    margin: 10px;
    font-size: 20px;
    background-color: transparent;
    outline-style: solid;
    outline-color: white;
    box-shadow: none;
}

.submit {
  background-color: darkolivegreen; /* Green */
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-left: 10px;
  overflow: scroll;
}
